main .content {
    padding: 0;
}


.dashboard-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 0 0 30% 30% ; 
    background: linear-gradient(45deg, var(--blue-3, #2E6FF4), #a138f1 ,#6617ed);
    background-size: 300% 300%;
    animation: gradient 10s ease-in-out infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dashboard-bg .dashboard-info {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
}
.dashboard-bg .dashboard-info img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--blue-4, #89BAF8);
}
.dashboard-bg .dashboard-info .info h3{
    font-size: 32px;
    color: var(--neutral-10);
    font-weight: 500;
}
.dashboard-bg .dashboard-info .info p{
    color: var(--neutral-8, #E0E6EE);
    font-size: 15px;
    font-weight: 500;
}


.complete-your-courses {
    padding: 50px 30px;
}
.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}
.courses .course {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 30px 10px 10px 10px;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.30);
    transition: 0.3s ease-in-out;
}
.courses .course:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.50);
    opacity: 0.9;
    filter: saturate(1.5);
    filter: brightness(1.1);
}
.courses .course .img-course {
    width: 100%;
    height: 200px;
    border-radius: 30px 10px 30px 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.courses .course .img-course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.courses .course .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.courses .course .info div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 30px;
}
.courses .course .info div h5 {
    font-size: 12px;
    font-weight: 400;
}
.courses .course .info .time{
    background: var(--neutral-2, #13182B);
    color: var(--neutral-10, #F6F8FC);
    padding: 0px 15px;
}
.courses .course .info .classes{
    background: var(--blue-3, #2E6FF4);
    color: var(--neutral-10, #F6F8FC);
    padding: 0px 15px;
}
.courses .course .info .exams {
    background: var(--blue-4, #89BAF8);
    color: var(--neutral-4, #3B4459);
    font-weight: 600;
    padding: 0px 15px;
}
.courses .course .course-info {
    padding: 20px;
}
.courses .course .course-price {
    padding: 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses .course .course-price a {
    border-radius: 26px;
    background: var(--blue-3, #2E6FF4);
    padding: 0px 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.courses .course .course-price a:hover {
    opacity: 0.8;
}
.courses .course .course-price span {
    color: var(--neutral-3, #262F44);
    font-size: 16px;
    font-weight: 700;
}

.section-trees {
    padding: 50px 30px;
}
.section-trees .trees {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 50px;
}
.section-trees .trees .tree {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 30px 10px 30px 10px;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.30);
    transition: 0.3s ease-in-out;
    position: relative;
}
.section-trees .trees .tree:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.50);
    opacity: 0.9;
    filter: saturate(1.5);
    filter: brightness(1.1);
}
.section-trees .trees .tree img {
    width: 100%;
    border-radius: 30px 10px 30px 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    filter: brightness(0.5);
}
.section-trees .trees .tree h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--neutral-10, #F6F8FC);
    font-size: 20px;
}