.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
    flex-wrap: wrap;
}
.categories button.category {
    font-size: 15px;
    font-weight: 600;
    color: var(--neutral-9);
    padding: 0px 20px;
    font-family: Noto Sans Arabic;
    border-radius: 45px;
    background: var(--Neutral-6, #8D98AF);
    border: none;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 120px;
}
.categories button.category.selected {
    background: var(--blue-3, #2E6FF4);
}

.month-courses{
    padding: 50px 0px;
}
.month-courses .header-courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.month-courses .header-courses a {
    border-radius: 26px;
    background: var(--grid-blue, linear-gradient(282deg, #1031D0 0%, #2E6FF4 50%, #89BAF8 100%));
    padding: 0px 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.month-courses .header-courses a:hover {
    opacity: 0.8;
}
.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}
.courses .course {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 30px 10px 10px 10px;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.30);
    transition: 0.3s ease-in-out;
}
.courses .course:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.50);
    opacity: 0.9;
    filter: saturate(1.5);
    filter: brightness(1.1);
}
.courses .course .img-course {
    width: 100%;
    height: 200px;
    border-radius: 30px 10px 30px 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.courses .course .img-course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.courses .course .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.courses .course .info div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 30px;
}
.courses .course .info div h5 {
    font-size: 12px;
    font-weight: 400;
}
.courses .course .info .time{
    background: var(--neutral-2, #13182B);
    color: var(--neutral-10, #F6F8FC);
    padding: 0px 15px;
}
.courses .course .info .classes{
    background: var(--blue-3, #2E6FF4);
    color: var(--neutral-10, #F6F8FC);
    padding: 0px 15px;
}
.courses .course .info .exams {
    background: var(--blue-4, #89BAF8);
    color: var(--neutral-4, #3B4459);
    font-weight: 600;
    padding: 0px 15px;
}
.courses .course .course-info {
    padding: 20px;
}
.courses .course .course-price {
    padding: 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses .course .course-price a {
    border-radius: 26px;
    background: var(--blue-3, #2E6FF4);
    padding: 0px 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.courses .course .course-price a:hover {
    opacity: 0.8;
}
.courses .course .course-price span {
    color: var(--neutral-3, #262F44);
    font-size: 16px;
    font-weight: 700;
}