.q-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.q-bank img {
    width: 50%;
    max-width: 500px;
}
.q-bank h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--neutral-3);
}