body {
    background-color: var(--neutral-9, #EEF4FA);;
}
.header .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../asseds/images/shapes.png);
    opacity: 0.1;
    z-index: 1;
    overflow: hidden;
}
.header-info .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: var(--blue-3);
}
.header-info .header-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFF;
    z-index: 2;
}
.header-info .header-image {
    max-width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.header-info .header-image img {
    height: 100%;
}
.header-info .header-content h1 {
    font-size: 40px;
    font-weight: 700;
}
.header-info .header-content h1 span {
    color: var(--sec-2, #F4CB3C);
}
.header-info .header-content h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: -10px;
}
.header-info .header-content h2 span {
    color: var(--sec-2, #F4CB3C);
}
.header-info .header-content p {
    color: var(--neutral-7, #C6D0E0);
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
.header-info .header-content .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.header-info .header-content .buttons a {
    display: flex;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    transition: 0.3s ease-in-out;
}
.header-info .header-content .buttons .signup {
    border: 1px solid #FFF;
}
.header-info .header-content .buttons .signup:hover {
    background: var(--sec-2, #F4CB3C);
    color: #FFF
}
.header-info .header-content .buttons .login {
    background: var(--sec-1, #E0B51D);
}
.header-info .header-content .buttons .login:hover {
    background: var(--sec-2, #F4CB3C);
}
@media (max-width: 1200px) {
    .header-info .header-content .buttons {
        flex-direction: column;
    
    }
}
@media (max-width: 992px) {
    .header-info .header-image img {
        height: 80%;
    }
    .header-info .header-content h1 {
        font-size: 24px;
    }
    .header-info .header-content h2 {
        font-size: 16px;
    }
    .header-info .header-content p {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .header .overlay {
        height: 150%;
    }
    .header-info .container {
        flex-direction: column-reverse;
        height: 100vh;
        padding: 50px 0px;
        justify-content: center;
    }
    .header-info .header-content {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .header-info .header-content p {
        text-align: center;
        width: 80%;
    }
    .header-info .header-image {
        height: 40%;
    }
    .header-info .header-image img {
        height: 100%;
    }
    .section-info .sec ul li {
        font-size: 10px;
    }
}
.download-app {
    width: 100%;
    height: 500px;
    position: relative;
}
.download-app .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.download-app .background img {
    width: 100%;
}
.download-app .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.download-app-img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.download-app-img img {
    height: 100%;
}
.download-app-content {
    width: 40%;
    z-index: 2;
    text-align: center;
}
.download-app-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--neutral-2, #13182B);
}
.download-app-content .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
@media (max-width: 1200px) {
    .download-app-content h1 {
        font-size: 24px;
    }
    .download-app-content .buttons {
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 992px) {
    .download-app-img img {
        height: 80%;
    }
}
@media (max-width: 768px) {
    .download-app {
        height: auto;
    }
    .download-app .container {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 50px;
    }
    .download-app-content {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .download-app-img {
        width: 100%;
    }
}
.last-courses {
    padding: 50px 0px;
}
.last-courses .container .main-lable{
    margin: 0 auto;
}
.last-courses .elsana {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 50px auto 0;
    justify-content: center;
}
.last-courses .elsana button {
    border-radius: 58px;
    font-family: Noto Sans Arabic;
    border: 1px solid var(--neutral-3, #262F44);
    color: var(--neutral-3, #262F44);
    font-weight: 600;
    font-size: 16px;
    padding: 0px 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.last-courses .elsana button:hover {
    background: var(--neutral-3, #262F44);
    color: #FFF;
}
.last-courses .elsana .select-elsana {
    background: var(--neutral-3, #262F44);
    color: #FFF;
}
.last-courses .elsana .select-elsana:hover {
    opacity: 0.8;
}
.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}
.courses .course {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 30px 10px 10px 10px;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.30);
    transition: 0.3s ease-in-out;
}
.courses .course:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px 0px rgba(17, 36, 123, 0.50);
    opacity: 0.9;
    filter: saturate(1.5);
    filter: brightness(1.1);
}
.courses .course .img-course {
    width: 100%;
    height: 200px;
    border-radius: 30px 10px 30px 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.courses .course .img-course img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.courses .course .info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.courses .course .info div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 30px;
}
.courses .course .info div h5 {
    font-size: 12px;
    font-weight: 400;
}
.courses .course .info .time{
    background: var(--neutral-2, #13182B);
    color: var(--neutral-10, #F6F8FC);
    padding: 0px 15px;
}
.courses .course .info .classes{
    background: var(--blue-3, #2E6FF4);
    color: var(--neutral-10, #F6F8FC);
    padding: 0px 15px;
}
.courses .course .info .exams {
    background: var(--blue-4, #89BAF8);
    color: var(--neutral-4, #3B4459);
    font-weight: 600;
    padding: 0px 15px;
}
.courses .course .course-info {
    padding: 20px;
}
.courses .course .course-price {
    padding: 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses .course .course-price a {
    border-radius: 26px;
    background: var(--blue-3, #2E6FF4);
    padding: 0px 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.courses .course .course-price a:hover {
    opacity: 0.8;
}
.courses .course .course-price span {
    color: var(--neutral-3, #262F44);
    font-size: 16px;
    font-weight: 700;
}
.section-info {
    padding: 50px 0px;
    background: var(--grid-blue, linear-gradient(282deg, #1031D0 0%, #2E6FF4 50%, #89BAF8 100%));
}
.section-info .first, .section-info .sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-info .first .content, 
.section-info .sec .content {
    width: 50%;
}
.section-info .first .img, .section-info .sec .img {
    width: 40%;
}
.section-info .first .content h2, .section-info .sec .content h2 {
    font-weight: 700;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 20px;
}
.section-info .first .content h2 span {
    color: var(--sec-2, #F4CB3C);
}
.section-info .first .content p {
    color: var(--neutral-7, #C6D0E0);
    font-size: 16px;
    font-weight: 500;
}
.section-info .first .img img {
    width: 100%;
}
.section-info .sec ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.section-info .sec ul li {
    color: var(--neutral-7, #C6D0E0);
    font-size: 16px;
    font-weight: 500;
}
@media (max-width: 992px) {
    .section-info .first .content h2, .section-info .sec .content h2 {
        font-size: 18px;
    }
    .section-info .first .content p {
        font-size: 12px;
    }
    .section-info .sec ul {
        gap: 5px;
    }
    .section-info .sec ul li {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .last-courses .elsana {
        gap: 5px;
    }
    .courses {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .section-info .first {
        flex-direction: column-reverse;
    }
    .section-info .first .content, .section-info .sec .content {
        width: 100%;
        text-align: center;
    }
    .section-info .first .content h2, .section-info .sec .content h2 {
        font-size: 14px;
    }
    .section-info .first .content p {
        font-size: 10px;
    }
    .section-info .first .img, .section-info .sec .img{
        width: 100%;
    }
    .section-info .sec {
        margin-top: 50px;
        flex-direction: column;
    }
}
.section-signup {
    padding: 50px 0px 100px;
    background: var(--sec-5, #F3EED8);
}
.section-signup .container {
    text-align: center;
}
.section-signup .image {
    width: 50%;
    margin: 0 auto;
}
.section-signup p {
    color: var(--neutral-4, #3B4459);
    font-size: 20px;
    font-weight: 600;
    font-weight: 600;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
}
.section-signup a {
    border-radius: 5px;
    background: var(--sec-1, #E0B51D);
    padding: 0px 60px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    margin: 30px 0;
    display: inline-block;
}
.section-signup a:hover {
    opacity: 0.8;
}
.section-signup h2 {
    color: var(--neutral-3, #262F44);
    font-weight: 700;
    font-size: 24px;
    line-height: 160%
}
@media (max-width: 768px) {
    .section-signup .image {
        width: 100%;
    }
    .section-signup p {
        width: 100%;
        font-size: 12px;
    }
    .section-signup a {
        padding: 0px 30px;
    }
    .section-signup h2 {
        font-size: 15px;
    }
}
footer {
    padding: 50px 0px;
    border-radius: 50px 50px 0px 0px;
    background: var(--neutral-3, #262F44);
    margin-top: -50px;
    
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-info .logo {
    display: flex;
    gap: 5px;
    align-items: center;
}
footer .footer-info .logo h3 {
    color: var(--blue-3, #2E6FF4);
    font-size: 32px;
    font-weight: 600;
}
footer .footer-info h3 {
    color: var(--neutral-8, #E0E6EE);
    font-size: 16px;
    font-weight: 600;
}
footer .footer-info p {
    color: var(--neutral-6, #8D98AF);
    font-size: 16px;
    font-weight: 500;
    max-width: 500px;
    margin: 30px 0;
}
footer .footer-info .social-links {
    display: flex;
    gap: 30px;
}
footer .footer-download-app {
    text-align: center;
}
footer .footer-download-app h3{
    color: var(--neutral-7, #C6D0E0);
    font-size: 24px;
    font-weight: 700;   
}
footer .footer-download-app .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
@media (max-width: 768px) {
    footer {
        border-radius: 30px 30px 0px 0px;
    }
    footer .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    footer .footer-info .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer-info .social-links {
        margin: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .footer-download-app .buttons {
        gap: 10px;
    }

}
.footer-info-dev {
    background: var(--neutral-2, #13182B);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-info-dev h3{
    color: var(--neutral-6, #8D98AF);
    font-size: 16px;
    font-weight: 500;
}
.footer-info-dev h3 a {
    color: var(--sec-2, #F4CB3C);
}
.footer-info-dev h3 a:hover {
    color: var(--sec-1, #E0B51D);
}