.main-cover {
    width: 500px;
    aspect-ratio: 16/9;
    border-radius: 20px;
    background: var(--Neutral-6, #8D98AF);
    overflow: hidden;
    margin: 30px auto;
}
.main-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-info {
    text-align: center;
    margin-bottom: 30px;
}
.main-info h1 {
    color: var(--Neutral-3, #262F44);
    font-size: 24px;
    font-weight: 700;
}
.main-info p {
    color: var(--Neutral-5, #58647C);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    max-width: 70%;
    margin: 0 auto;
}


.buy-course {
    text-align: center;
    margin-bottom: 50px;
}

.buy-course button{
    font-family: 'Noto Sans Arabic', sans-serif;;
    border-radius: 26px;
    border: 1px solid #FFF;
    background: var(--blue-3, #2E6FF4);
    padding: 5px 20px;
    cursor: pointer;

    color: var(--Neutral-10, #F6F8FC);
    font-size: 16px;
    font-weight: 500;
}


