.main-cover {
    width: 800px;
    height: 450px;
    border-radius: 20px;
    background: var(--Neutral-6, #8D98AF);
    overflow: hidden;
    margin: 50px auto;
}
.main-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-info {
    text-align: center;
    margin-bottom: 50px;
}
.main-info h1 {
    color: var(--Neutral-3, #262F44);
    font-size: 24px;
    font-weight: 700;
}
.main-info p {
    color: var(--Neutral-5, #58647C);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}


.buy-course {
    text-align: center;
    margin-bottom: 50px;
}

.buy-course a{
    border-radius: 26px;
    border: 1px solid #FFF;
    background: var(--blue-3, #2E6FF4);
    padding: 5px 20px;

    color: var(--Neutral-10, #F6F8FC);
    font-size: 16px;
    font-weight: 500;
}



/* ----------------------------------------------------------- */
.accordion-menu {
    width: 100%;
    margin: 50px 0;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--Neutral-7, #C6D0E0);
    border-bottom: none;
    box-shadow: 0px 4px 6px 0px rgba(37, 114, 230, 0.20);
}

.accordion-menu li:last-child .dropdown {
    border-bottom: 0;
}


.accordion-menu li.active .dropdown .arrow {
    transform: rotate(180deg);
}

.dropdown {
    cursor: pointer;
    border-bottom: 1px solid var(--Neutral-7, #C6D0E0);
    background: var(--Neutral-8, #E0E6EE);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px 0px rgba(37, 114, 230, 0.20);
    color: var(--Neutral-3, #262F44);
    font-family: Noto Sans Arabic;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: background 0.3s ease-in-out;
}

.dropdown:hover {
    background: var(--Neutral-8, #E4EAF2);
}

.dropdown i {
    position: absolute;
    top: 17px;
    left: 16px;
}

.dropdown .arrow {
    right: 12px;
    left: auto;
    transition: transform 0.3s ease-in-out;
}

.submenuItems {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.accordion-menu li.active .submenuItems {
    max-height: 1000px; /* Adjust the value based on your content */
}

.submenuItems a, .submenuItems .closed-lesson {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--Neutral-9, #EEF4FA);
    border-bottom: 1px solid var(--Neutral-7, #C6D0E0);
    font-weight: 600;
    padding: 20px 30px;
    transition: background 0.3s ease-out;
    font-size: 14px;
    color: var(--Neutral-4, #3B4459);
}

.submenuItems a:hover, .submenuItems .closed-lesson:hover {
    background: var(--Neutral-8, #E4EAF2);
}

.submenuItems .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
