body {
    background: var(--neutral-9, #EEF4FA);
}
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px);
    position: relative;
    z-index: 1;
}
.login-section .login-container {
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    max-width: 600px;
}
.login-section .login-container h2 {
    font-size: 18px;
    font-weight: 700;
    color: var(--neutral-3, #262F44);
    margin-bottom: 30px;
}
.login-section .login-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.login-section .login-container .content .google-login {
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--neutral-8, #E0E6EE);
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.login-section .login-container .content .google-login:hover {
    background: var(--neutral-7, #D2D9E1);
}
.login-section .login-container .content .google-login h3 {
    color: var(--neutral-3, #262F44);
    font-size: 12px;
    font-weight: 600;
}
.login-section .login-container .content .google-login .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-section .login-container .content .line {
    width: 100%;
    position: relative;
}
.login-section .login-container .content .line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--neutral-7, #C6D0E0);
    top: 50%;
    left: 0;
    border-radius: 5px;
}
.login-section .login-container .content .line span {
    color: var(--neutral-3, #262F44);
    font-size: 14px;
    font-weight: 500;
    background: var(--neutral-9, #EEF4FA);
    padding: 0 10px;
    position: relative;
}
.login-section .login-container .content .form-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.form-login input[type='text'],
.form-login input[type='password'] {
    color: var(--neutral-5, #58647C);
    font-size: 15px;
    padding: 15px 20px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    border: 2px solid;
    background-color: transparent;
    transition: all 0.1s ease-in-out;
    outline: none;
}
.form-login input[type='text']:focus,
.form-login input[type='password']:focus {
    color: var(--neutral-1, #050B19);
    font-weight: 500;
    border-color: var(--blue-3);
}
.form-login a {
    color: var(--neutral-3, #262F44);
    font-size: 15px;
    font-weight: 400;
}
.form-login a span {
    text-decoration-line: underline;
}
.form-login input[type='submit'] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 30px;
    background: var(--grid-blue, linear-gradient(282deg, #1031D0 0%, #2E6FF4 50%, #89BAF8 100%));
    color: var(--neutral-9, #EEF4FA);
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.form-login input[type='submit']:hover {
    /* scale: 1.01; */
    opacity: 0.8;
}
.login-section .signin-link {
    font-size: 15px;
    color: var(--blue-3, #2E6FF4);
}
.login-section .signin-link span {
    text-decoration: underline;
}